     <div class="fila1">
          <img class="logo" src="/images/logos/logo.svg" alt=""> <!--logo-->

         
          <div class="menu">
              <div class="nav">
                   <h4>Desarrollo</h4>
                   <ul>
                        <li><a href="">Obras</a></li>
                        <li><a href="">Servicios</a></li>
                       
                   </ul>
              </div>
              <div class="colecciones">
                   <h4>Comunidad</h4>
                   <ul>
                        <li><a href="">Impacto ambiental</a></li>
                        <li><a href="">Faso</a></li>
                        
                   </ul>
              </div>
              
              <div class="nosotros">
                   <ul>
                        <li><a href="">3513123456</a></li>
                        <li><a href="">3519876543</a></li>
                        <li><a href="">huella@gmail.com</a></li>
                   </ul>
              </div>
          </div>         
              

          <div class="usuario">
               <a href="" class="registro">Contactanos</a>
     
          </div>
         
     </div>
     <div class="fila2">
          <h4>© huella - Desarrollo sustentable</h4>
          <a href="https://facundogarcia-ar.herokuapp.com" class="fletech">👨🏻‍💻 fle.tech</a>
          <div class="redes">
               <p>Seguinos</p>
               <a href="#"><i class="fab fa-facebook"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
     </div>
