<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/images/logos/logo.svg">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<title> <%= title %>  </title>
  </head>
  <body>
    <header>
      <div class="logo">
           <a href="/" >
                <img class="header" src="/images//logos/logoColor.svg" alt="">
           </a>
      </div>
      
     
      <nav class="menu">
           <ul>
                <li><a href=""></a></li>
                <li><a href="#seccionTres">Desarrollos</a></li>
                <li><a href="">Impacto ambiental</a></li>
                <li class="hidden"><a href="/usuario"><i class="fas fa-user"></i></a></li>
           </ul>
      </nav>
      

      
    
</header>
    
  </body>
  <main>
<div class="layout">
    <section class="seccionUno">
      <div class="seccionUno2">
        
      </div>
         <div class="tituloSeccionUno">
              <h1>desarrollo sustentable</h1>
              <button class="callToAction"><a href="/productos">ver más</a></button>
         </div>
         <div class="flechaScroll">
              <a href="#seccionDos"><span><i id="flechaTop" class="fas fa-arrow-down"></i></span></a>
              
         </div>

    </section>
  </div>
  <footer>
    <%- include('./partials/footer.ejs')%>
  </footer>
</html>
